<h3>malaria Details</h3>


<div class="row">
    {{#each data}}
    <div class="col s12 m6">
        <div class="card">
        <div class="card-content">
            <p>{{this.Disease}}</p>
            <p>{{this.Summary}}</p>
            <p>{{this.Causes}}</p>
            <p>{{this.Medicines}}</p>
            <p>{{this.Netural}}</p>
        </div>
        </div>
    </div>
    {{/each}}
</div>